.landing-top {
    display: flex;
    flex-direction: column;
    height: 425px;
    justify-content: space-between;
}

.landing-bottom {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.landing-header {
    text-align: right;
    padding: 15px 50px;
    max-width: 600px;
    margin: 100px 0;
    border-radius: 0 60px 60px 0;
    border-right: 1px solid darkcyan;
    border-bottom: 8px solid darkcyan;
    color: darkcyan;
}

.landing-description {
    margin-left: auto;
    padding: 15px 50px 15px 50px;
    width: 350px;
    overflow: hidden;
    border-radius: 60px 0 0 60px;
    background-color: darkcyan;
    color: black;
}

.landing-page-btn-row {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 35px;
    margin: 0 auto;
    justify-content: space-between;
}

.landing-page-btn {
    text-decoration: none;
    color: darkcyan;
    height: 60px;
    border-top: 3px darkcyan solid;
    border-radius: 20px 20px 0 0;
}

.landing-page-btn:hover {
    color: white;
    border-bottom: 3px darkcyan groove;
}

.landing-link-btn-row {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

.landing-link-btn {
    text-decoration: none;
    color: darkcyan;
}

.landing-image {
    height: 35px;
    width: auto;
}
