.projects-horiz-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 70%;
    height: 50%
}

.projects-arrow {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100px;
    align-content: flex-start;
    padding: 0 10px;
    user-select: none;
}

.projects-arrow-left {
    text-align: left;
    border-left: 3px solid grey;
    border-radius: 40px 0 0 40px;
}

.projects-arrow-right {
    text-align: right;
    border-right: 3px solid grey;
    border-radius: 0 40px 40px 0;
}

.projects-arrow-left:hover {
    background: linear-gradient(90deg, grey, transparent);
    color: cyan;
    border-left: 3px solid cyan;
}

.projects-arrow-right:hover {
    background: linear-gradient(-90deg, grey, transparent);
    color: cyan;
    border-right: 3px solid cyan;
}

.projects-list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    /* background-color: silver; */
    border-radius: 10px;
}

.projects-read-more {
    background-color: darkcyan;
    color: black;
    width: 700px;
    margin-left: auto;
    margin-bottom: 100px;
    padding-left: 30px;
    border-radius: 50px 0 0 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 90%; */
    width: 100%;
    margin: 0 30px;
    padding: 0 30px 30px;
    justify-content: space-around;
    color: darkcyan;
    border: groove 3px darkcyan;
}

.card-title-row {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: space-between;
}

.card-title {
    text-decoration: underline;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.card-image {
    max-height: 10%;
    max-width: 50%;
    object-fit: contain; /* Adjust the object-fit value based on your desired image display */
}

.card-text {
    margin: 0 30px;
    max-height: 300px;
    overflow-y: scroll;
}


.card-text::-webkit-scrollbar {
    width: 8px;
}
  
.card-text::-webkit-scrollbar-thumb {
    background-color: darkcyan;
    border-radius: 10px;
}

.card-text::-webkit-scrollbar-track {
    background-color: transparent;
}