.resume-body {
    margin: 50px auto;
    user-select: none;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
}

.resume-download {
    height: 70px;
    width: 200px;
    margin: 50px auto;
    border-right: 1px solid darkcyan;
    border-bottom: 8px solid darkcyan;
    border-radius: 0 50px 0;
    color: darkcyan;
    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.resume-download:hover {
    border-right: 1px solid white;
    border-bottom: 8px solid white;
    color: white;
    user-select: none;
}