.AboutPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: flex-start;
    margin: 75px 150px;
    padding: 50px 75px;
    background-color: rgba(69, 98, 124, 0.137);  
    backdrop-filter: blur(5px);
    border-radius: 5px 150px;
}

.AboutImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AboutImage img {
    max-width: 80%;
    height: auto;
    border-radius: 45%;
}

.LanguageList {
    display: flex;
    flex-direction: column;
}


.LanguageList li {
    align-self: flex-start;
}


.LanguageList li::before {
    content: '╘';
    margin-right: 0.5em;
}