.AboutPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2F4F4F;
    grid-gap: 2em;
    align-items: flex-start;
    margin: 50px 150px;
    padding: 50px 75px;
}

.AboutImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AboutImage img {
    max-width: 80%;
    height: auto;
    border-radius: 45%;
}
