.Fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .Navigation {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 150px;
    background-color: #242424e7;
    backdrop-filter: blur(2px);
  }
  
  .NavButton {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
  }
  
  .NavButton:hover {
    background-color: darkcyan;
    color: cyan;
  }
  
  .NavButton:focus {
    outline: none;
  }  
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hide {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }